.left-card {
  height: 100%;
  width: 25vw;
  background-color: #f0f2f5;
}
:hover.container {
  background-color: #c4c4c4;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .left-card {
    visibility: hidden;
  }
}

.empty {
  background-color: #f0f2f5;
  height: 15px;
}

.container {
  position: static;
  margin-left: 1vw;
  border-radius: 10px 0 0 10px;
  width: 24vw;
  height: 40px;
  display: flex;
}

.all-containers {
  margin-left: 6px;
  width: 40px;
  height: 40px;
}
.logo-names {
  margin-top: 3.5px;
  height: 33px;
  width: 33px;
  align-items: center;
}

.names {
  margin-left: 5px;
}

.p-names {
  margin: 10px 0;
}
