#main_card_container {
    flex-direction: column;
    width: 50vw;
    height: fit-content;
    background-color: aqua;
    display: flex;
    margin: 0 25vw;
    margin-top: -254.6px;
    border-radius: 10px;
}

@media screen and (max-width: 1100px) {
    #main_card_container {
      margin-left: 13.5vw;
    }
  }

  @media screen and (max-width: 900px) {
    #main_card_container {
        margin: -254.6px 15vw 0 15vw;
        width: 70vw;
    }
  }